<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons>
        <app-back-button lastPage="meal"></app-back-button>
        <ion-title>Agregar Receta</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <div class="mainInfoSection">
      <ion-item class="name">
        <ion-input
          [(ngModel)]="name"
          label="Nombre:"
          labelPlacement="stacked"
          placeholder="Nombre de la Receta"
          type="text"
        ></ion-input>
      </ion-item>
  
      <ion-item class="alias">
        <ion-input
          [(ngModel)]="alias"
          label="Alias:"
          labelPlacement="stacked"
          placeholder="alias1,alias2,alias3"
          type="text"
        ></ion-input>
      </ion-item>
  
      <ion-radio-group (ionChange)="setType($event)" class="type">
        <ion-radio value="D" >Diaria</ion-radio>
        <ion-radio value="S" >Especial</ion-radio>
      </ion-radio-group>
    </div>

    <div class="addIngredientSection">
      <app-form-search-bar
        type="meal"
        [newItems]="newMealIngredients"
        (addedProduct)="addedProduct()"></app-form-search-bar>

      <ion-fab-button size="small" (click)="goToProductForm()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </div>

    <ion-content class="listSection" #list scrollEvents="true">
        <ion-list *ngIf="existData && existMatches" class="listPosition">
          <ion-item *ngFor="let ingredient of newMealIngredients;">
            <ion-toolbar>
              <app-meal-ingredient-item
                isMealCreated="false"
                [ingredient]="ingredient"
                (removedIngredient)="removeFromList($event)"></app-meal-ingredient-item>
            </ion-toolbar>
          </ion-item>
        </ion-list>
        <app-empty-data 
          *ngIf="!existData || !existMatches"
          [existData]="existData"
          [existMatches]="existMatches"></app-empty-data>
    </ion-content>

    <ion-button *ngIf="newMealIngredients.length > 0"
      expand="block"
      (click)="saveMeal()">
      Guardar Receta
    </ion-button>

  </ion-content> 

  <ion-alert
    [isOpen]="isErrorAlertOpen"
    header="Información Faltante"
    [subHeader]="errorDescription"
    [buttons]="acceptAlertButton"
    (didDismiss)="closeAlert()"
  ></ion-alert>

</div>
