.item{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.header{
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 5px;
}

.body{
    display: flex;
}

.info{
    width: 100%;
    display: flex;
}

.alias{
    max-width: fit-content;
    width: 100%;
    padding: 10px;
    margin-left: 20px;

    ion-label{
        font-weight: 400;
    }
}

.imageBody{
    width: 25%;
    height: 100%;
    overflow: hidden;  
}

.image{
    max-height: 300px;
    min-height: 100px;
    max-width: 100px;
    min-width: 40px;
    align-self: center;
    text-align: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; 
    scale: 2;
}

.buttonsSection{
    align-self: center;
    flex-direction: column;
    text-align: center;
}