ion-toolbar ion-label{
    margin-left: 10px;
}

.titleSection{
    padding: 15px 0px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    // ion-label{
    //     margin-top: 10px;
    //     margin-left: 20px;
    // }
}

.listPosition{
    margin-bottom: 80%;
}