<div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Recetas</ion-title>
      </ion-toolbar>
      <ion-searchbar class="searchBar" 
        animated
        placeholder="Buscar Recetas"
        show-clear-button="focus"
        (keyup)="search($event)"
        (ionClear)="clearSearch()"></ion-searchbar>
    </ion-header>
  
    <ion-content>
      <ion-list *ngIf="existData && existMatches" class="listPosition">
        <ion-item *ngFor="let meal of meals; let i = index">
          <ion-toolbar>
            <app-meal-item [meal]="meal" [index]="i" (removedMeal)="reloadMeals()"></app-meal-item>
          </ion-toolbar>
        </ion-item>
      </ion-list>
      <app-empty-data 
        *ngIf="!existData || !existMatches"
        [existData]="existData"
        [existMatches]="existMatches"></app-empty-data>
    </ion-content>    

    <app-add-button route="meal-form"></app-add-button>

</div>